<header class="sticky top-0 z-40 w-full primary-bg_color shadow-xl">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex justify-between items-center">

        <!-- Logo -->
        <div class="text-xl font-extrabold tracking-widest flex items-center">
            <img src="myLogo.png" alt="Logo" class="mr-2 w-8 h-8 object-contain" />
            <span
                class="self-center text-2xl font-semibold text-transparent whitespace-nowrap bg-clip-text bg-gradient-to-r from-blue-400 to-cyan-400">ItsKashifWork</span>
        </div>

        <!-- Desktop Menu -->
        <div class="hidden md:flex space-x-8">
            <a *ngFor="let section of sections" (click)="scrollTo(section.id)"
                class="text-sm font-medium transition duration-300 cursor-pointer hover:text-blue-400">
                {{ section.title }}
            </a>
        </div>

        <!-- Mobile Menu Button -->
        <button class=" md:hidden primary-bg_color text-3xl" (click)="toggleMenu()">
            <fa-icon [icon]="menuIcon" class="text-2xl w-8 h-8"></fa-icon>
        </button>

    </nav>

    <!-- Mobile Dropdown -->
    <div *ngIf="isMenuOpen" class="md:hidden primary-bg_color border-t border-gray-700 shadow-lg animate-fade-down">
        <div class="flex flex-col space-y-4 py-4 px-6">
            <a *ngFor="let section of sections" (click)="onMobileClick(section.id)"
                class="text-base font-medium cursor-pointer hover:text-blue-400 transition">
                {{ section.title }}
            </a>
        </div>
    </div>
</header>

<router-outlet></router-outlet>