<section id="projects" class="py-20 bg-white dark:bg-gray-900">
    <div class="w-full md:mx-auto ">
        <h2 class="text-3xl font-bold text-black dark:text-white mb-12 text-center">
            Selected Projects
        </h2>

        <div class="flex flex-wrap justify-center gap-4 mb-12">
            <app-button [secondaryBtn]=true (click)="filterProjects('all')">All</app-button>
            <app-button [secondaryBtn]=true (click)="filterProjects('web')">Web Apps</app-button>
            <app-button [secondaryBtn]=true (click)="filterProjects('graphics')">Graphic Designs</app-button>
        </div>

        <div class="flex flex-wrap justify-center gap-5">
            <!-- Show Skeleton Loader when loading -->
            <ng-container *ngIf="loading; else projectList">
                <div *ngFor="let skeleton of [1,2,3,4,5]"
                    class="w-80 sm:w-1/3 md:w-1/4 lg:w-1/5 rounded-xl border border-gray-300 dark:border-gray-700 p-2 shadow-xl animate-pulse">
                    <div class="p-0 md:p-4 lg:p-6">
                        <div class="w-full h-40 bg-gray-300 dark:bg-gray-700 rounded-xl mb-4"></div>
                        <div class="h-6 bg-gray-300 dark:bg-gray-700 w-3/4 rounded-md mb-2"></div>
                        <div class="h-4 bg-gray-300 dark:bg-gray-700 w-full rounded-md mb-4"></div>
                        <div class="flex gap-3 w-full justify-center items-center mt-auto">
                            <div class="h-8 w-24 bg-gray-300 dark:bg-gray-700 rounded-md"></div>
                            <div class="h-8 w-24 bg-gray-300 dark:bg-gray-700 rounded-md"></div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- Actual Projects List -->
            <ng-template #projectList>
                <div *ngFor="let project of projects"
                    class="projCard w-50 sm:w-1/3 md:w-1/4 lg:w-1/5 rounded-xl border dark:border-gray-200 border-gray-700 p-2 shadow-xl hover:shadow-2xl transition-all duration-300 transform hover:-translate-y-2">
                    <div class="pt-2 pb-2">
                        <div class="flex justify-center w-full h-40 object-contain mb-4"
                            (click)="openDetailsModal(project)">
                            <img [src]="project.imageUrl" alt="Project" class="rounded-xl" />
                        </div>
                        <div class="text-center text-black dark:text-white flex-grow"
                            (click)="openDetailsModal(project)">
                            <h3 class="text-xl font-semibold mb-2">{{ project.title }}</h3>
                            <p class="mb-4 w-full break-words whitespace-pre-line line-clamp-2">
                                {{ project.description }}
                            </p>

                        </div>
                        <div class="flex gap-3 w-full justify-center items-center mt-auto my-6">
                            <app-button *ngIf="project.webLink" [secondaryBtn]="true"
                                (click)="openPreviewLink(project.webLink)">View Project</app-button>
                            <app-button *ngIf="project.githubLink" [secondaryBtn]="true"
                                (click)="openGithubLink(project.githubLink)">View Code</app-button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</section>


<app-project-details [projectDetails]="openProjectDetail" *ngIf="openDetails"
    (confirmAction)="closeDetailsModal()"></app-project-details>