<section class="bg-white px-10 dark:bg-gray-900 flex flex-col w-full py-5 overflow-hidden relative">
    <h2 class="text-3xl mt-10 w-full justify-center font-bold text-black dark:text-white mb-12 text-center">
        Client's Feedback
    </h2>

    <!-- Skeleton Loader -->
    <div *ngIf="loading" class="animate-pulse flex flex-col items-center justify-center">
        <div class="w-full flex flex-col items-center justify-center text-center">
            <div class="rounded-xl bg-gray-200 dark:bg-gray-800 px-20 py-6 mx-10">
                <div class="h-12 w-12 bg-gray-300 dark:bg-gray-700 mx-auto rounded-full mb-3"></div>
                <div class="h-4 w-64 bg-gray-300 dark:bg-gray-700 rounded mb-2"></div>
                <div class="h-4 w-48 bg-gray-300 dark:bg-gray-700 rounded"></div>
                <div class="mt-6 h-4 w-32 bg-gray-300 dark:bg-gray-700 rounded"></div>
            </div>
        </div>
    </div>

    <!-- Client Reviews -->
    <div *ngIf="!loading && clients.length > 0" class="inset-0 flex transition-transform duration-700 ease-in-out"
        [style.transform]="'translateX(' + (-activeIndex * 100) + '%)'">
        <div class="flex-shrink-0 w-full" *ngFor="let client of clients">
            <figure class="w-full flex flex-col items-center justify-center text-center">
                <div class="rounded-xl bg-gray-100 dark:bg-gray-800 px-20 py-6 mx-10">
                    <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
                            fill="currentColor" />
                    </svg>
                    <blockquote>
                        <p class="text-1xl font-medium text-gray-900 dark:text-white">
                            {{ client.review }}
                        </p>
                    </blockquote>
                    <figcaption class="flex items-center justify-center mt-6 space-x-3">
                        <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                            <div class="pr-3 font-medium text-gray-900 dark:text-white">
                                {{ client.name }}
                            </div>
                        </div>
                    </figcaption>
                </div>
            </figure>
        </div>
    </div>
</section>