<section id="testimonials" class="w-full py-20 relative overflow-hidden">

    <h2 class="text-4xl text-center font-bold mb-3">
        Client <span class="primary-color">Feedback</span>
    </h2>

    <p class="text-center text-gray-500 dark:text-gray-400 mt-2">
        Automatically scrolling to center each testimonial.
    </p>

    <!-- Loader -->
    <div *ngIf="loading" class="flex justify-center mt-12 animate-pulse">
        <div class="w-96 h-56 primary-bg_color rounded-2xl"></div>
    </div>

    <!-- Slider -->
    <div *ngIf="!loading" id="clientWrapper"
        class="relative flex gap-6 mt-14 transition-transform duration-700 ease-in-out"
        [style.transform]="'translateX(' + translateX + 'px)'">

        <div *ngFor="let client of extendedClients; let i = index" class="review-card flex-shrink-0  rounded-2xl shadow-lg primary-bg_color p-8 border border-gray-200 dark:border-gray-700
                    transition-all duration-700 ease-in-out" [ngStyle]="{ width: dynaicWidth }" [ngClass]="{
                'scale-110 opacity-100': i === activeIndex,
                'scale-90 opacity-50': i !== activeIndex
             }">

            <div class="flex justify-center mb-4">
                <svg class="h-10 text-blue-500" viewBox="0 0 24 27" fill="currentColor">
                    <path
                        d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" />
                </svg>
            </div>

            <p class="text-[15px] leading-relaxed italic text-center">
                "{{ client.review }}"
            </p>

            <div class="text-center mt-6">
                <span class="font-semibold text-[16px]">{{ client.name }}</span>
            </div>
        </div>

    </div>

</section>