<section id="skills" class="py-20">
    <div class="text-center mb-16">

        <h2 class="text-4xl font-bold mb-3">
            My <span class="primary-color">Expertise</span>
        </h2>
        <p class="secondary_color">
            A focused look at the technologies and creative tools driving my projects.
        </p>
    </div>

    <!-- Grid for 2-column layout -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 px-8 mx-auto">
        <div *ngFor="let category of skillsData; let i = index" [ngClass]="{
        'md:col-span-2': i === skillsData.length - 1 && skillsData.length % 2 !== 0
      }" class="p-6 rounded-2xl primary-border_color shadow-xl hover:shadow-blue-500/10">
            <!-- Category Header -->
            <div class="text-center mb-8">
                <h3 class="text-2xl font-semibold primary-color mb-2">
                    {{ category.title }}
                </h3>
                <p class="secondary_color">{{ category.detailDescription }}</p>
            </div>

            <!-- Skill Cards -->
            <div class="flex flex-wrap justify-center gap-6 pb-5 ">
                <div *ngFor="let skill of category.details"
                    class=" primary-bg_color group flex flex-col items-center justify-center translate-y-3 text-center w-44 h-40 rounded-2xl bg-white dark:bg-gray-800 hover:-translate-y-1 hover:bg-gray-100 dark:hover:bg-gray-700 transition duration-300 shadow-md hover:shadow-blue-500/20">

                    <div
                        class=" w-16 h-16 flex items-center justify-center rounded-full mb-3 border border-blue-300 bg-gradient-to-br from-blue-50 to-blue-100  transform transition-transform duration-300 group-hover:scale-110">
                        <img [src]="skill.icon" alt="{{ skill.label }}" class="w-8 h-8 object-contain" />
                    </div>

                    <h3 class="text-base font-semibold ">
                        {{ skill.label }}
                    </h3>
                </div>

            </div>
        </div>
    </div>
</section>