<div class="fixed left-0 top-1/2 transform -translate-y-1/2 z-50 ">
    <div class="relative flex flex-col space-y-3 p-2 rounded-r-xl shadow-xl backdrop-blur-md border"
        [ngClass]="accentColor">

        <div *ngFor="let link of socialLinks" class="relative group py-4 px-2">

            <!-- Icon -->
            <a [href]="link.url" class="p-2 rounded-full transition duration-300"
                (mouseenter)="handleMouseEnter(link.id)" (mouseleave)="handleMouseLeave()">
                <fa-icon [icon]="link.Icon" class="text-2xl w-8 h-8"></fa-icon>
            </a>

            <!-- Floating Overlay (Does NOT affect layout) -->
            <div *ngIf="hoveredLinkId === link.id" class="absolute left-full top-1/2 transform -translate-y-1/2 ml-3
                     px-3 py-1 rounded-lg text-sm font-medium text-white
                     bg-black/70 backdrop-blur-md border border-white/20 shadow-lg
                     opacity-0 group-hover:opacity-100 transition-all duration-300">
                {{ link.username }}
            </div>

        </div>

    </div>
</div>