<div class="relative">
  <!-- Top Button -->
  <button id="backToTopTop"
    class="fixed bottom-9 right-9 w-14 h-14 bg-[#4070f4] text-white rounded-full flex items-center justify-center  z-3 transition-opacity duration-300"
    (click)="scrollToTop()" [ngStyle]="{ 'opacity': topBtnOpacity, 'z-index': '3' }">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill"
      viewBox="0 0 16 16">
      <path
        d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
    </svg>
  </button>

  <!-- Bottom Button -->
  <button id="backToTopBottom"
    class="fixed bottom-8 right-8 w-16 h-16 bg-black text-black dark:bg-white dark:text-white rounded-full flex items-center justify-center  z-1 transition-opacity duration-300"
    [ngStyle]="{ 'background': circleProgress ,'opacity': topBtnOpacity, 'z-index': '2'}">
  </button>
</div>


<app-header></app-header>
<app-footer></app-footer>