<div class="relative">
  <!-- theme-toggle.component.html -->
  <button (click)="toggleTheme()" class="fixed z-3 top-20 right-6 w-14 h-14 rounded-full flex items-center justify-center 
         shadow-lg transition-all duration-300 primary-bg_color hover:scale-105"
    [attr.aria-label]="isDark ? 'Switch to light mode' : 'Switch to dark mode'">
    <span class="absolute text-2xl transition-all duration-500" [class.opacity-100]="!isDark" [class.opacity-0]="isDark"
      [class.scale-100]="!isDark" [class.scale-0]="isDark">
      <span class="material-symbols-outlined">
        bedtime
      </span>
    </span>

    <span class="absolute text-2xl transition-all duration-500" [class.opacity-100]="isDark" [class.opacity-0]="!isDark"
      [class.scale-100]="isDark" [class.scale-0]="!isDark">

      <span class="material-symbols-outlined">
        sunny
      </span>
    </span>
  </button>

  <!-- Top Button -->
  <button id="backToTopTop"
    class="fixed bottom-9 right-9 w-14 h-14 bg-[#4070f4] text-white rounded-full flex items-center justify-center border border-white  z-3 transition-opacity duration-300"
    (click)="scrollToTop()" [ngStyle]="{ 'opacity': topBtnOpacity, 'z-index': '3' }">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill"
      viewBox="0 0 16 16">
      <path
        d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
    </svg>
  </button>

  <!-- Bottom Button -->
  <button id="backToTopBottom"
    class="fixed bottom-8 right-8 w-16 h-16 bg-black text-black dark:bg-white dark:text-white rounded-full flex items-center justify-center  z-1 transition-opacity duration-300"
    [ngStyle]="{ 'background': circleProgress ,'opacity': topBtnOpacity, 'z-index': '2'}">
  </button>
</div>

<app-social-contact></app-social-contact>
<app-header></app-header>
<app-footer></app-footer>